//materialized checkbox
input[type=checkbox] {
	position: relative;
	visibility: hidden;
	cursor: pointer;

	display:inline!important;
	width:1em;
	height:1em;
}

input[type=checkbox]:after {
	display: block;
	content: '\e835';
	font-family:'Material Icons';
	font-size:1.1em;
	position: absolute;
	top: -.1em;
	left:-.1em;
	visibility: visible;
	height: 1em;
	line-height: 1em;
	width: 1em;
	text-align: center;
	background: inherit;
	cursor: pointer;
}

input[type=checkbox]:checked:after {
	content: '\e834';
}

label.checkbox {
	cursor:pointer;
	width:auto;
	display:inline-block;
	padding-left:1.3em;
	line-height:1.2em!important;
}



//materialized radio button
input[type=radio] {
	position: relative;
	visibility: hidden;
	cursor: pointer;
	display:inline!important;
	width:1em;
	height:1em;
}

input[type=radio]:after {
	display: block;
	content: '\e836';
	font-family:'Material Icons';
	font-size:1.1em;
	position: absolute;
	top: -.1em;
	left:-.1em;
	visibility: visible;
	height: 1em;
	line-height: 1em;
	width: 1em;
	text-align: center;
	background: inherit;
	cursor: pointer;
}

input[type=radio]:checked:after {
	content: '\e837';
}

//label
label.checkbox, label.radio {
	cursor:pointer;
	width:auto;
	display:block;
	padding-left:1.3em;
	line-height:1.2em!important;
	color:inherit;
}
